.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-div .hamburger {
  margin: auto;
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-div,
.profile-div {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.logo-div {
  padding: 0px 12px;
}

.logo-div .logo {
  margin: auto;
}

.notification {
  background-color: #e7f8ff;
  border-radius: 6px;
  padding: 12px 15px;
  width: fit-content;
  margin: auto;
  border: 2px solid #e7f8ff;
}

.notification:hover {
  background-color: white;
  cursor: pointer;
}

.profile {
  border-radius: 50%;
  width: 63px;
  height: 63px;
  background-color: #d9d9d9;
}

.profile img {
  border-radius: 50%;
  width: 63px;
  height: 63px;
}

@media (max-width: 768px) {
  .notification {
    padding: 2px 8px;
  }

  .notification svg {
    width: 16px;
  }

  .profile {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: #d9d9d9;
  }

  .profile img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
  }
}
